div.vertical-tabs ul .selected a.adw-modal-forms-pop, div.vertical-tabs ul .selected a.adw-modal-forms-pop:hover{
	color: white;
	background: #3399ff;
}

.modal_entity_edit_form_holder {
	display:none;
}

div.vertical-tabs ul.improvedselect_ul li.selected a.ctools-use-modal {
  color: white;
  background: #3399ff;
}
